{% extends 'base.html' %}



{% block content %}
    {% if items %}
    <table class="table table-bordered">
        {% for stuff in items%}
        {% if stuff.completed %}
            <tr class="table-success">
                <td>{{ stuff.item }} </td>
                <td><center>{{ stuff.completed }}</center></td>
                <td><center>Delete</center></td>
            </tr>
        {% else %}
            <tr class="table-light">
                <td class="striker">{{ stuff.item }} </td>
                <td><center>{{ stuff.completed }}</center></td>
                <td><center>Delete</center></td>
            </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}



{% block title %}
To Do list
{% endblock %}
